@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* reset styles */
*,
::after,
::before {
  font-family: "Quicksand", sans-serif;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: overlay;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.site-wrapper {
  background-color: $primary;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .brand {
    display: flex;
    justify-self: flex-start !important;
    top: 3rem;
    height: 20%;
  }

  .page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
