@use "sass:math";

.inputbox {
  border: 1px black solid;
  height: 280px;
  width: 250px;
  border-radius: math.div($base-border-radius, 2);
  background-color: $secondary;

  &__fields {
    width: 100%;

    input {
      border-radius: math.div($base-border-radius, 2);
      border: 0;
      width: 200px;
      height: 25px;
      text-align: center;
    }
  }
  &__buttons {
    width: 100%;
  }
}
